
<main>
    <div class="body">
        <div class="header">
          <div class="name">
            <h1 class="nameheader">Kennedy Mukhari</h1>
            <h2 class="pstn">SOFTWARE DEVELOPER</h2>
          </div>
          
          <span><img src="../../../assets/im.jpg" alt="my image" class="pp"></span>
            
    
          </div>
          
          <div class="clearfix">
            <div class="box1" style="background-color: lightgray">
                <p class="cntct">CONTACT</p>
                <hr style="color:dimgray">
                <br>
                <p><img src="https://img.icons8.com/metro/20/000000/phone.png"><a href="tel:+22786106358">+2278-610-6358</a></p>
                <p><img src="https://img.icons8.com/ios-glyphs/20/000000/secured-letter.png"><a href="email:kenndeymukhari@gmail.com" style="text-align:right">kennedymukhari@gmail.com</a></p>
                <p><img src="https://img.icons8.com/material/20/000000/home-page.png"><a href="www.kennedymukhari.com">www.kennedymukhari.com</a></p>
                <img src="https://img.icons8.com/ios/20/000000/marker-filled.png"><a>21 Kerk street</a>
                <br>
                <p class="cntct">EDUCATION </p>
                <hr>
                <dl>
                  <dt style="text-align: center">University Of Limpopo</dt>
                    <dd>BSc Computer Science</dd>
                    <dd> -Year Completed: 2018</dd>
                    <dd>Courses Passed:<li>Applied Mathematics</li>
                    <li>Computer Science</li>
                    </dd><br>
                  <dt style="text-align: center">Mahwahwa High School</dt>
                    <dd> -Year Completed: 2012</dd>
                </dl>

                <p class="cntct">SOCIAL MEDIA</p>
                <hr>
                <p><img src="https://img.icons8.com/ios/20/000000/facebook-f-filled.png"><a href="link:https://www.facebook.com/Kennedymukhari">kennedymukhari</a></p>
                <p><img src="https://img.icons8.com/ios/20/000000/instagram-filled.png"><a href="link:www.instagram.com/king_kent.ig/">king_kent.ig</a></p>
                <p><img src="https://img.icons8.com/ios-glyphs/20/000000/linkedin-2.png"> <a href="link:www.linkedin.com/in/kennedy-mukhari-864496173">kennedymukhari</a></p>
                <p> <img src="https://img.icons8.com/metro/20/000000/twitter.png"><a href="link:https://twitter.com/MukhariKennedy">@MukhariKennedy</a></p>
                <img src="https://img.icons8.com/windows/20/000000/github.png"><a href="link:https://github.com/kennedyMukhari/projects.git">projects</a>
    
                
            </div>
            <div class="box2" style="background-color: white">
              <p class="prfl">PROFILE</p>
              <hr>
              <p class="styleprfl">
                I am an energetic, ambitious person who has developed a mature and responsible
                approach to and task that i undertake, or situation that i'm presented with. As
                a graduate with over three years in the field of computer science, i'm excellent
                with working with others to obtain a certain objective in time and with excellence.
              </p>
              <p class="prfl">WORK EXPERIENCE</p>
              <hr>
              <p class="position">SOFTWARE DEVELOPER</p>
              <p class="position">CODETRIBE/ MAY 2019-OCTOBER 2019</p>
              <ol class="exp">
                <li>Ability to write and proofread various types of programming languages; C++, Java,
                    SQL, Html, Python, CSS, AngularJS Framework</li>
                <li>Ability to settle in a working environment as per required.</li>
                <li>Excellent communication skill.</li>
                <li>Good understanding of Data Structures.</li>
                <li>Good understanding of Operating Systems.</li>
              </ol>
            </div>
          </div>
    </div>
</main>
<router-outlet></router-outlet>

